{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "tabWidth": 2,
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["*.yml", "*.yaml", "*.toml", "*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
